.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 2rem;
  overflow-x: hidden;
}

.card img {
  max-height: 200px;
}

.title {
  padding: 2rem;
  padding-bottom: 0;
}
